<!doctype html>
<html lang="{{ app()->getLocale() }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Laravel</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <!-- Styles -->
</head>
<body>

    <div id="app">

        <ul>
            <li v-for="message in messages">{{ message }}</li>
        </ul>


        <form @submit.prevent="send">
            <input type="text" name="text" v-model="message">
            <button class="">Submit</button>
        </form>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fingerprintjs2/1.5.1/fingerprint2.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <script>

    document.addEventListener('DOMContentLoaded', function () {
        if (Notification.permission !== "granted")
        Notification.requestPermission();
    });

    function desktopNotify(title,message,url) {
        if (!Notification) {
            return;
        }

        if (Notification.permission !== "granted")
        Notification.requestPermission();
        else {
            var notification = new Notification(title, {
                icon: 'http://cdn.sstatic.net/stackexchange/img/logos/so/so-icon.png',
                body: message,
            });
            notification.onclick = function () {
                window.open(url);
            };
        }
    }

    var socket = io(':8000');

    new Vue({
        el : '#app',
        data : {
            message : '',
            messages : []
        },

        mounted : function()
        {
            socket.on('connect_error', function() {
                console.log('Failed to connect to server');
                axios.get('socket-enable');
            });

            socket.on('test-channel:chat',function(message){ //listner from server
                this.messages.push(message)
                desktopNotify('New Offer','Click to win this prize','http://www.google.com');
            }.bind(this));

            socket.emit('test-channel:chat','User has been joined'); // when its connected
        },

        methods : {

            send : function(e)
            {
                socket.emit('test-channel:chat',this.message); // broadcast only to server
                this.message='';
                e.preventDefault();
            }
        }


    })



    </script>
</body>
</html>
